<div class="text-center">
  <h2>Profile Preview</h2>
  <img ng-src="{{vmProf.member.avatar}}" alt="Profile Pic">
  <h4>{{vmProf.member.username}}</h4>
  <h4>{{vmProf.member.email}}</h4>
  <h4>{{vmProf.member.phone}}</h4>
  <h4>{{vmProf.member.names.firstName}}</h4>
  <h4>{{vmProf.member.names.lastName}}</h4>
  <h4>{{vmProf.member.address.zipcode}}</h4>
  <h4>{{vmProf.member.address.city}}</h4>
  <h4>{{vmProf.member.company.bs}}</h4>
  <h4>{{vmProf.member.description}}</h4>
  <h4>{{vmProf.member.gender}}</h4>
  <h4>{{vmProf.member.interestedIn}}</h4>

</div>