<div class="row">
<div class="col-md-8 col-md-offset-2 jumbotron">
 <h1>Register</h1><br>
 <form class="input-group col-md-12" ng-submit="vm.register()">
  <fieldset>
    <div class="form-group">
      <div class="col-md-2">
       <h4>Username</h4>
      </div>
      <div class="input-group col-md-9">
        <input type="text" ng-model="user.username" class="form-control col-md-10" placeholder="Username">
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2">
       <h4>Password</h4>
      </div>
      <div class="input-group col-md-9">
        <input type="password" ng-model="user.password" class="form-control col-md-10" placeholder="Password">
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2">
       <h4>First Name</h4>
      </div>
      <div class="input-group col-md-9">
        <input type="text" ng-model="user.firstName" class="form-control col-md-10" placeholder="First Name">
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2">
       <h4>Last Name</h4>
      </div>
      <div class="input-group col-md-9">
        <input type="text" ng-model="user.lastName" class="form-control col-md-10" placeholder="Last Name">
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2">
       <h4>Email</h4>
      </div>
      <div class="input-group col-md-9">
        <input type="text" ng-model="user.email" class="form-control col-md-10" placeholder="Email">
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2">
       <h4>Date of Birth</h4>
      </div>
      <div class="input-group col-md-9">
        <input type="date" ng-model="user.dob" class="form-control col-md-10">
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2">
       <h4>Zip Code</h4>
      </div>
      <div class="input-group col-md-9">
        <input type="text" ng-model="user.zipcode" class="form-control col-md-10">
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2">
       <h4>City</h4>
      </div>
      <div class="input-group col-md-9">
        <input type="text" ng-model="user.city" class="form-control col-md-10">
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2">
       <h4>Occupation</h4>
      </div>
      <div class="input-group col-md-9">
        <input type="text" ng-model="user.company.bs" class="form-control col-md-10">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-2">
        <h4>Gender</h4>
      </div>
      <div class="col-md-9">
        <select class="form-control" id="sel1" ng-model="user.gender">
          <option value="1">Male</option>
          <option value="2">Female</option>
          <option value="3">Decline to Answer</option>
        </select>

      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-2">
        <h4>Description</h4>
      </div>
      <div class="col-md-9">
        <textarea class="form-control" ng-model="user.description">

        </textarea>
      </div>
    </div>
    <div class="form-group row" ng-model="user.genders">
      <div class="col-md-2">
        <h4>Interested In:</h4>
      </div>
      <div class="col-md-9" ng-model="user.interestedIn">
        <div class="checkbox">
          <label><input type="checkbox" ng-click="updateInterest(0)" checklist-model="user.interestedIn" checklist-value="0">Males</label>
        </div>
        <div class="checkbox">
          <label><input type="checkbox" ng-click="updateInterest(1)" checklist-model="user.interestedIn" checklist-value="1">Females</label>
        </div>
        <div class="checkbox disabled">
          <label><input type="checkbox"  ng-click="updateInterest(2)" checklist-model="user.interestedIn" checklist-value="2">Whatever</label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2">
       <h4>Avatar Url</h4>
      </div>
      <div class="input-group col-md-9">
        <input type="text" ng-model="user.avatar" class="form-control col-md-10">
      </div>
    </div>
    <input type="submit" class="btn btn-primary btn-lg" value="Register" />
  </fieldset>
 </form>
</div>
</div>