/* add custom styles */

register {
  margin-top: 200px;
  height: 700px;
  border: solid 1px black;
}

login {
  margin-top: 200px;
  height: 500px;
  border: solid 1px black;
}

profile {
  margin-top: 100px;
  height: 700px;
  border: solid 1px black;
}

.sidebar {
  position: fixed;
  height: 95%;
  overflow: scroll;
}

.logout {
  position: absolute;
  right: 25px;
  top: 25px ;
}

member-icon .panel img {
  height: 100%;
  width: 100%;
  margin: 10px;
}

member-info .panel img {
  width: 100%;
}

.alert-success {
  width: 70%;
}

.alert-info {
  float: right;
  width: 70%;
}
