<div class="col-md-4 sidebar">
    <h2>Members All</h2>
    <div class="row">
        <button ng-show="vm.iterator" class="btn btn-default" ng-click="vm.iterate()">Last 10</button>
        <a class="btn btn-default" ui-sref="members.search">Search</a>
        <a class="btn btn-default" ng-click="vm.reset()">Reset</a>
        <a class="btn btn-default" ng-click="vm.getMatches()">Matches</a>
        <button class="btn btn-default" ng-click="vm.iterate()">Next 10</button>
    </div>
    <div class="row">
        <button class="btn btn-default" ng-click="vm.getFilterable({gender:1}, 'filter')">Just Women</button>
        <button class="btn btn-default" ng-click="vm.getFilterable('-_matches.length', 'order')">Popular</button>
    </div>
    <br>
    <br>
    <div ng-repeat="member in vm.members | filter: vm.filter | orderBy: vm.order">
      <member-icon
        id="member._id"
        slug="member.slug"
        avatar="member.avatar"
        username="member.username"
        first="member.names.firstName"
        last="member.names.lastName"
        set="vm.setSelected(id)">
      </member-icon>
    </div>
  </div>
  <div class="col-md-8 main col-md-offset-4" ui-view>

</div>