<div ng-show="recipient">
  <h2>Member Convo</h2>
  <div class="row">
    <h3>{{vm.selected.convo}}</h3>
    <div ng-repeat="message in convo">
      <div class="row">
        <div ng-class="vmConvo.setClass(message._sender)">
          <h4>{{message.content}}</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <input type="text" class="form-control" ng-model="vmConvo.convoText" />
    </div>
    <div class="col-md-4">
      <button class="btn btn-default" ng-click="vmConvo.createConvo()">Send Message</button>
    </div>
  </div>
</div>
<br>
<br>